@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('~@/assets/fonts/ubuntu/ubuntu-300.woff2') format('woff2'),
  url('~@/assets/fonts/ubuntu/ubuntu-300.woff') format('woff');
}
